{
  "arrowParens": "always",
  "semi": true,
  "endOfLine": "crlf",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 100
}
